<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang='pt-BR'>
    <head>
        <title>Universidade Equipe Orbitais</title>
        <meta charset="UTF-8">
        <meta name ="author"
              content="Ithaelly Medeiros">
        <meta name ="keywords"
              content="Equipe,Orbitais,Aluno">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/normatize.css}" rel="stylesheet"> <!-- antigo era: href="../css/normatize.css" -->
        <link th:href="@{/css/paginaAlunos.css}" rel="stylesheet">
    </head>
<body>
	<header>Universidade Equipe Orbitais</header>
    <article>
        <h2>Formulário para Cadastro de Novo Aluno</h2>
        <nav class='mudarPagina'>
             <!-- o img está dentro do a, para que quando clicar na imagem vá para outra página -->
             <a th:href="@{telaInicial}"> 		<!-- aqui no @{} coloca o caminho do @GetMapping -->
                 <img src="/imagens/principal.png" alt="imagem de home">
             </a>
             <a th:href="@{telaInicial}"  id="linkCadastrar" >Página Inicial</a>
         </nav>
         
         <!-- se a matricula tiver vazia/ n tiver cadastro, aí sim, ele abre o metodo de salvar -->
          <form action="#" th:if="${#strings.isEmpty(aluno.matricula)}" th:action="@{/api/adicionar}" th:object="${aluno}" method="post">
         	<p>
                 <label for="txtMatricula">Matrícula:</label>
                 <input type="text" th:field="*{matricula}" th:required="required" placeholder="Matricula" size="15" id="txtMatricula">
             </p>
             <p>
                  <label for="txtNome">CPF:</label>
                  <input type="text" th:field="*{pessoa.cpf}" th:required="required" placeholder="Cpf" size="35" id="txtNome">
              </p>
              <p>
                 <label for="txtAno">Ano de Ingresso:</label>
                 <input type="text" th:field="*{anoEntrada}" th:required="required" placeholder="Ano" size="3" id="txtAno">
             </p>
             <input class='botoes' type="submit" value="Confirmar" id="btConfirmar">
             <input class='botoes' type="submit" value="Cancelar" id="btCancelar">
         </form>
         
         <!-- unless="senão", no caso a matricula tiver preenchida, ele abre o metodo de alterar -->
         <form action="#" th:unless="${#strings.isEmpty(aluno.matricula)}" th:action="@{/api/atualizar}" th:object="${aluno}" method="post">
	            <p>
	                 <label for="txtMatricula">Matrícula:</label>
	                 <input type="text" th:field="*{matricula}" th:required="required" placeholder="Matricula" size="15" id="txtMatricula">
	             </p>
	             <p>
	                  <label for="txtNome">CPF:</label>
	                  <input type="text" th:field="*{pessoa.cpf}" th:required="required" placeholder="Cpf" size="35" id="txtNome">
	              </p>
	              <p>
	                 <label for="txtAno">Ano de Ingresso:</label>
	                 <input type="text" th:field="*{anoEntrada}" th:required="required" placeholder="Ano" size="3" id="txtAno">
	             </p>
	             <input class='botoes' type="submit" value="Confirmar" id="btConfirmar">
	             <input class='botoes' type="submit" value="Cancelar" id="btCancelar">
        </form>
    </article>
            
</body>
</html>