<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang='pt-BR'>
	<head>
		<title>Universidade Equipe Orbitais</title>
        <meta charset="UTF-8">
        <meta name ="author"
              content="Ithaelly Medeiros">
        <meta name ="keywords"
              content="Equipe,Orbitais,Aluno, Academico">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/normatize.css}" rel="stylesheet"> <!-- antigo era: href="../css/normatize.css" -->
        <link th:href="@{/css/paginaInicial.css}" rel="stylesheet">
	</head>
	<body>
		<header>Universidade Equipe Orbitais</header>
		<article>
            <h2>Lista de Alunos:</h2>
        </article>
        
        <nav class='mudarPagina'>
       		<!-- o img está dentro do a, para que quando clicar na imagem vá para outra página -->
             <a th:href="@{telaCadastro}"> 		<!-- aqui no @{} coloca o caminho do @GetMapping -->
                 <img src="../imagens/cadastrar.png" alt="imagem de cadastrar">
             </a>
             <a th:href="@{telaCadastro}" id="linkCadastrar">Cadastrar Novo Aluno</a>
        </nav>
        
        <p class="txtSubTitulo" id="txtSubTituloMatricula">Matrícula</p>
        <p class="txtSubTitulo" id="txtSubTituloNome">Nome</p>
        <p class="txtSubTitulo" id="txtSubTituloAno">Ano de Ingresso</p>
        <p class="txtSubTitulo" id="txtSubTituloAcoes">Ações</p>
        <br/>
            
        <table>
            <!--tr linhas -->
            <tr  th:each="aluno : ${listaAlunos}"> <!-- esse each é como se fosse um for ou for:each. E o "listaAlunos" vem no nome usado na função: "telaInicial", da classe: "AlunoController". A cada iteração a variavel aluno vai receber um aluno da lista-->
        		 <!--os 4 td são colunas -->        
                 <td th:text="${aluno.matricula}" class='coluna' id='txtMatricula'></td>
                 <!--  <td th:text="${aluno.nomePessoa}" class='coluna' id='txtNome'></td>-->
                 <td th:text="${aluno.anoEntrada}" class='coluna' id='txtNome'></td>
                 <td th:text="${aluno.anoEntrada}" class='coluna' id='txtAno'></td>
                 <td class='coluna' id="txtAcoes">
                      <!-- o img está dentro do a, para que quando clicar na imagem vá para outra página -->
                      <a th:href="@{telaCadastro}">
                          <img id="imgEditar" src="../imagens/editar.png" alt="imagem de editar">
                      </a>
                      <a th:href="@{/remover/{matricula}(matricula=${aluno.matricula})}"> <!-- a variavel matricula vai receber a aluno.matricula e vai mandar para fazer a consulta de excluir na função: "excluir" em "alunoController" -->
                          <img id="imgDeletar" src="../imagens/deletar.png" alt="imagem de deletar">
                      </a>
                 </td>
        	</tr>
        </table>
	</body>
</html>

